body{
    width:100%;
    font-family: 'Poppins', sans-serif;
    background: #0e0d0d;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#dropdown-btn{
    cursor: pointer;
    letter-spacing: 0;
    text-align: center;
    padding-inline: 200px;
    border-radius:25px;
    background: #5e5f61;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8);
    transition: .3s ease;
}

.dropdown-name{
    color: #fff;
    font-size: 18px;
    text-transform:capitalize;
}

#dropdown-btn:hover{
    background: #959697;
    letter-spacing: 2px;
}

.dropdown-active #dropdown-btn{
    border-radius: 25px 25px 1-px 10px;
}

.dropdown-active .dropdown-menu-box{
    visibility: visible;
    margin-top: 15px;
    opacity: 1;

}

.dropdown-menu-box{
    width: 50;
    left: 0;
    margin-top: 5px;
    border-radius: 10px 10px 25px 25px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    visibility: hidden;
    transition: .3s ease;
    opacity: 0;
}

.dropdown-menu{
    margin: 10;
    padding: 20px;
    list-style: none;
}

.dropdown-item{
    position: relative;
    font-size: 15px;
    letter-spacing: 0;
    text-align: left;
    color: #7e899b;
    background-color: none;
    border-radius: 8px 8px 13px 13px;
    padding: 10px 20px;
    margin: 5px 0;
    transition: .3s ease;
}

.dropdown-item:hover{
    color: #5a616d;
    letter-spacing: 1.5px;
    background-color: #f4f4f4;
}

.input-wrapper{
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 50;
  justify-content: center; 
  align-items: center; 
}

.code-input {
  padding: 7px;
  width: 25%;
  border-radius: 25px;
  text-align: center;
  background: #5e5f61;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8);
  cursor: pointer;
  color:white
}

.continue-wrapper{
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50;
  justify-content: center; 
  align-items: center; 
}

.continue-btn {
  padding: 7px;
  width: 27%;
  border-radius: 25px;
  text-align: center;
  background: #495d86;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8);
  cursor: pointer;
  color:white
}

.swimmer-headding{
    display: flex;
    color: white;
    justify-content: center;
    font-weight: 5;
    padding-bottom: 30px;
}

.step1-wrapper{
    display: flex;
    justify-content: left;
    font-size: 18px;
    padding-bottom:15px;
    padding-left: 15px;
}

.sub-text{
    color:white;
    padding-right: 15px;
    padding-left: 15px;
}

.step1-input{
  padding: 7px;
  width: 200px;
  border-radius: 25px;
  background: #5e5f61;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8);
  cursor: pointer;
  color:white

}

.skills{
    display:flex;
    color: white;
    padding-bottom: 15px;
    padding-left: 30px;
}

.skills-continue{
  padding-bottom: 7px;
  width: 300px;
  border-radius: 25px;
  text-align: center;
  background: #495d86;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8);
  cursor: pointer;
  color:white

}

.ai-report{
    display:flex;
    width: 500px;
    height: 140px;
    font-family:'Poppins', sans-serif;
}

.ai-wrapper{
    padding-left:15px;
}

